* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 40px 0;

  text-transform: uppercase;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

form {
  width: 600px;
  padding-left: 100px;
  margin: 0 auto;
}

form td {
  padding: 10px;
  font-size: 1.2rem;
}

select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
  color: white;
  padding: 20px;
  font-size: 1.2rem;
  margin: 8px 35px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #4caf50;
}

input[type="button"] {
  background-color: #f44336;
}

input[type="submit"]:hover, input[type="button"]:hover {
  opacity: 0.5;
}
